# Node modules
node_modules/

# Build output
build/

# Environment files
.env
.env.staging
.env.production

# IDE specific files
.vscode/
.DS_Store

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
package-lock.json
